[user]
	email = vanishedzhou@163.com
	name = vanishedzhou
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
	helper = wincred
